*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
    color: gold;
}
img {
    width: 350px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: black;
    padding: auto;
    border: 5px;
    border-color: gold;
    border-style: dotted;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}

/*.main-section {
    height: 100vh;
    background-image: url("main-section.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }*/
